<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Demo</title>
</head>

<body>
    <h1>Hi there!</h1>
    <a href="/addthing">Add a Thing</a>
    <table>
        <thead>
            <th>Name</th>
            <th>Age</th>
            <th>Hobbies</th>
        </thead>
        <tbody>
            <% for(var entry of data) { %>
            <tr>
                <td><%= entry.name %></td>
                <td><%= entry.age %></td>
                <td><% for (var hobby of entry.hobbies) { %><%=hobby%><%}%></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</body>

</html>