<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h3>Add a new thing!</h3>
    <form action="/addthing" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name">
        <br>
        <label for="age">Age:</label>
        <input type="number" name="age">
        <br>
        <label for="hobby1">Hobby 1:</label>
        <input type="text" name="hobbies">
        <br>
        <label for="hobby2">Hobby 2:</label>
        <input type="text" name="hobbies">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>